<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



        <link rel="icon" href="Favicon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <title>Simple file upload application</title>
    </head>
    <body>




        <div class="cotainer mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">File Upload</div>
                        <div class="card-body">
                            <form action="" method="POST">
                                <div class="form-group row">
                                    <label for="" class="col-md-4 col-form-label text-md-right">File Upload</label>
                                    <div class="col-md-6">
                                        <input type="file" id="" class="form-control" name="file_name" required autofocus>
                                    </div>
                                </div>

                                {#<div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password" required>
                                    </div>
                                </div>#}

                                <div class="form-group row">
                                    <label for="" class="col-md-4 col-form-label text-md-right">Upload location</label>
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" name="location"> Dropbox
                                                <input type="radio" name="location"> S3
                                                <input type="radio" name="location"> FTP
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="" class="col-md-4 col-form-label text-md-right">Formats</label>
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="location"> jpg
                                                <input type="checkbox" name="location"> webp
                                                <input type="checkbox" name="location"> png
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>

                                </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>










    </body>
</html>